header#header.site-header
  .header-content 
    h2#site-name   
      a(href="/") Biblioverse
    nav#main-navigation  
      ul.dropdown
        li 
          a(href="/") Home 
        li
          a(href="/biblio/books") Books
        li
          a(href="/biblio/about") About
        li 
          a(href="/biblio/contact") Contact 
    .hamburger-menu &#9776;
    