extends common/layout 

block layout-content 

  h1.about-title ABOUT US
  
  .home-content 
    .home-contenttext 
      .home-contextbg
        h4.content-maintext DREAMS BUILT OF WOOD AND PAPER
        p.content-text Biblioverse was founded in 2016. The founder Ms. S who has a passion for reading, built a book world for book lovers to explore diverse books. Bookverse is categorised under the top 10 best online book platform by their beloved readers.