extends common/layout 

block layout-content 
  .product-hero 
    .producthero-context 
      .producthero-contextbg
        h4.producthero-maintext Biblioverse presents you the virtual library
        p.producthero-text You can now explore a collection of e-books on the platform. Download your favourite e-books at exciting prices.  

  .about-bestsellers 
    .bestseller-context 
      h4.bestseller-main BESTSELLERS
      .bestseller-items 
        .bestseller-item 
            .product1-img 
            h6.producttext The Passion Within
            p#productrank #1
        .bestseller-item 
            .product2-img 
            h6.producttext The Catcher in the Rye
            p#productrank #2
        .bestseller-item 
            .product3-img 
            h6.producttext Milk and Honey
            p#productrank #3
  
  .about-genres 
      h4.genre-main GENRES
      .genre-items 
        .genre-item 
            .romance-img 
            h6.genretext ROMANCE
        .genre-item 
            .fantasy-img 
            h6.genretext FANTASY
        .genre-item 
            .thriller-img 
            h6.genretext THRILLER
        .genre-item 
            .selfhelp-img 
            h6.genretext SELF-HELP