extends common/layout 

block layout-content 
  .hero
    .hero-text
      h1.page-title EVERY CHAPTER TAKES YOU ON A UNIQUE JOURNEY! 
      a(href="/biblio/books")
        button.explore EXPLORE
    .hero-img
  
  .home-content 
    .home-contenttext 
      .home-contextbg
        h4.content-maintext DREAMS BUILT OF WOOD AND PAPER
        p.content-text Biblioverse was founded in 2016. The founder Ms. S who has a passion for reading, built a book world for book lovers to explore diverse books. Bookverse is categorised under the top 10 best online book platform by their beloved readers.
  
  .about-bestsellers 
    .bestseller-context 
      h4.bestseller-main BESTSELLERS
      .bestseller-items 
        .bestseller-item 
            .product1-img 
            h6.producttext The Passion Within
            p#productrank #1
        .bestseller-item 
            .product2-img 
            h6.producttext The Catcher in the Rye
            p#productrank #2
        .bestseller-item 
            .product3-img 
            h6.producttext Milk and Honey
            p#productrank #3
  
  

  

